@media screen and (max-width: 768px) {
  body{
   
    display:flex;
    flex-direction: column;
    justify-content: center;

  }
  .landing-page{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100vh;
  }
   /*
  .about{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100vh;
  }
  .Contact{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100vh;
  }
   */
  .flex{
    justify-content: center;
   display:flex;
   flex-direction: column;
  }
  .main-png{
    height: 200px;
    width: 400px;
  }
  .about{
    justify-content: space-around;
    display:flex;
    flex-direction: column;
  }
  .Contact{
    height: 300vh;
  }
 }