@media screen and (max-width: 768px) {
  body{
    padding-left: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;

  }
  .landing-page{
    height: 100vh;
  }
  .flex{
    justify-content: center;
   display:flex;
   flex-direction: column;
  }
  .main-png{
    height: 200px;
    width: 400px;
  }
  .about{
    justify-content: space-around;
    display:flex;
    flex-direction: column;
  }
 }