@media screen and (max-width: 768px) {
  body{
   /* margin-left: 200px; */
    display:flex;
    flex-direction: column;
    justify-content: center;

  }
  .Static{
    width: 150vw;
  }
  .landing-page{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100vh;
  }
   /*
  .about{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100vh;
  }
  .Contact{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100vh;
  }
   */
  .flex{
    justify-content: center;
   display:flex;
   flex-direction: column;
  }
  .main-png{
    height: 200px;
    width: 400px;
  }
  .about{
    justify-content: space-around;
    display:flex;
    flex-direction: column;
  }
  .Contact{
    height: 150vh;
  }
 }
 @media screen and (max-width: 320px) {

  .Static{
    width: 170vw;
    height: auto;
    padding-bottom: 30px;
  }
  .Contact{
    height: 150vh;
  }
 }
 @media screen and (max-width: 280px) {

  .Static{
    width: 10vw;
    height: auto;
    padding-bottom: 30px;
  }
  .Contact{
    height: 150vh;
  }
 }